
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body{
    overflow: hidden;
    background: #333;
    color: white;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#background{
    filter: blur(25px);
    width: 110%;
    position: absolute;
    text-align: center;
    z-index: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
#settings{
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background: #555;
    position: absolute;
    left: 5px;
}
#settings:hover{
    background: #666;
}
#settings-menu{
    display: flex;
    border-radius: 5px;
    background: #555;
    z-index: 3;
    height: 400px;
    width: 300px;
    align-items: start;
    justify-content: space-between;
    flex-flow: column wrap;
    padding: 2px;
}
#settings-container{
    display: none;
    margin-top: -100vh;
}
.custom-buttons{
    background: #444;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 1px;
    z-index: 1;
    margin: 5px;
}
.custom-buttons:hover{
    background: #666;
}
.links{
    width: 50px;
    cursor: pointer;
    margin: 5px;
}
#music-player{
    text-align: center;
    padding: 25px 35px;
    background: #333;
    width: 465px;
    height: 600px;
    border-radius: 1%;
    align-content: center;
    z-index: 2;
    outline: gray solid 1px;
}
#thumbnail{
    width: 80%;
    border-radius: 5%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.controls{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.controls div:nth-child(2){
    transform: scale(1.4);
}
.controls div{
    display: inline-flex;
    border-radius: 50%;
    margin: 10px;
    width: 55px;
    height: 55px;
    background: #111;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.bonus-controls{
    display: flex;
    justify-content: end;
    align-items: center;
}
.bonus-controls div{
    display: inline-flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #111;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#repeat-light{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    margin-right: 5px;
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 30px 0;
    background: white;
    border: 4px solid black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: rgb(230, 230, 230);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#progress::-webkit-slider-thumb:hover{
    background: white;
}
#progress::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(245, 245, 245);
    cursor: pointer;
}
@media (max-width: 640px) {
    #music-player {
        height: 540px;
        width: 350px;
    }
    .controls div{
        width: 45px;
        height: 45px;
    }
    #background{
        height: 110vh;
        width: 100%;
    }
} 